/* 
Sélecteur élément
p {
}

Sélecteur classe
.block {
}

Sélecteur ID
#block {
}

Sélecteur attribut
input[type="text"] {
  border: 1px solid #ccc;
}

Sélecteur pseudo-classe
a:hover {
}
*/

:root {
    --main-color: #ECF8F6;
}

a {
    color: inherit;
}

#section-BEM {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.BEM {
    margin: 0 8px;
    width: 250px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--main-color);
    border-radius: 10px;
}

.BEM__image {
    margin-bottom: 8px;
    padding: auto;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
}

.BEM__image
img {
    width: 99%;
    height: auto;
    object-fit: contain;
}

.BEM__button {
    padding: 10px;
}

.BEM__button
a {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #226D68;
    border-radius: 20px;
    color: var(--main-color);
}

.BEM__button    
a:hover {
    width: 175px;
    transition: .3s ease-out;
}

.BEM__button    
a:not(:hover) {
    width: 150px;
    transition: .3s ease-out;
}

.BEM__button--modifier
a {
    background-color: #FEEAA1;
    color: #313131;
}

#section-grid {
    margin: 20px auto;  
    width: 250px;
    height: 300px;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.grid__item {
    background-color: #226D68;
    color: var(--main-color);
    text-align: center;
}

#section-pseudo-element {
    text-align: center;
}

.decorated-paragraph::before {
    content: "Before "; /* Le contenu à ajouter avant le paragraphe */
    font-weight: bold; /* Style du texte ajouté */
    color: #226D68; /* Couleur du texte ajouté */
}
  
  .decorated-paragraph::after {
    content: " After"; /* Le contenu à ajouter après le paragraphe */
    font-weight: bold; /* Style du texte ajouté */
    color: #D6955B; /* Couleur du texte ajouté */
}

/* De 768px à 1023px de largeur (taille d'écran de tablette) */
@media screen and (max-width: 1023px) {
    .BEM {
        margin: 8px;
    }

    #section-grid {
        display: none;
    }
  }
  
